body{
    background-color:black;
    color:white;
    overflow: hidden;

}

*::selection {
    color: none;
}

*:hover {
    cursor: default;
}

#container{ 
    /* background-color: grey; */
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#calendar{
    border-style: solid;
    border-radius: 5.336vh;
    border-color: #ffffff;
    width: 65vh;
    text-align: center;
    padding:4vh;
    height: 73vh;
    border-width: 0.32vh;
}

#rok{
    font-size: 5.336vh;
    margin-bottom: 1.067vh;
    margin-top: 2.134vh;
}
#miesiac{
    font-size:3.201vh;
    margin-top: 0vh;
}
#dni{
    width:64.034vh;
    height: 55.49vh;
    border-style: solid;
    border-radius: 2.134vh;
    border-color: #ffffff;
    margin-left: auto;
    margin-right:auto;
    padding-left: 0vh;
    padding-right: 0vh;
    padding-top: 1.067vh;
    border-width: 0.32vh;
}
.dzien{
    width:5.336vh;
    height:5.336vh;
    border-style: solid;
    border-width: 0.32vh;
    border-radius: 2.134vh;
    border-color: #ffffff;
    float: left;
    margin-left: 2.134vh;
    margin-top: 2.134vh;
    padding: 0vh;
    font-size: 1.75vh;

}

.ktory_dzien{
    margin-top: 1.067vh;
}

.nazwy_tygodnia{
    margin-left: 2.134vh;
    float: left; 
    width:5.976vh;
    justify-content: center;
    margin-top: 0.533vh;
    font-size: 1.75vh;
}